.containerBlog {
  color: white;
  padding: 0 20px 20px 20px;
  margin-top: 60px;
  .divider {
    margin: 20px 0;
    padding: 0 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: rgb(247, 241, 241, 0.5);
    transition: all 0.5s linear;
    cursor: pointer;
    &:hover {
      background: white;
      color: #e48989;
    }
  }
}
@media screen and(max-width: 1280px) {
  .containerBlog {
    margin-top: 0;
  }
}
@media screen and (max-width: 960px) {
  .containerBlog {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  .containerBlog {
    margin-top: 0;
  }
}
