@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.containerTravel {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  margin: 60px auto 30px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .detailTitle {
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    padding: 20px;
    padding-top: 100px;
    color: white;
    text-transform: capitalize;
  }
  .detailContent {
    padding: 20px 100px;
    text-align: justify;
    color: #2468a2;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-indent: 10px;

    p::first-letter {
      text-transform: uppercase;
      font-size: 20px;
      color: crimson;
    }
    img {
      width: 100%;
      margin: 20px 0;
    }
    button {
      margin-top: 50px;
      outline: none;
      border: 0.5px solid crimson;
      span a {
        color: crimson;
      }
      &:hover {
        background: crimson;
        span a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
@media screen and(max-width: 960px ) {
  .containerTravel {
    margin-top: 0px;
    width: 100%;
    .detailContent {
      padding: 20px 30px;
    }
  }
}
@media screen and (max-width: 600px) {
  .containerTravel {
    width: 100%;
    margin-top: 5px;
    .detailTitle {
      height: 300px;
    }
    .detailContent {
      padding: 10px 20px;
    }
  }
}
