.newsCard {
  height: 100%;
  padding: 2px;
  .newsImage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-position: 30% 50%;
    transition: all 0.5s ease;
    .newsContent {
      color: white;
      text-align: center;
      p {
        transition: all 0.5s ease;
        opacity: 0;
      }
    }
    button {
      margin-left: 16px;
      transition: all 0.5s ease;
      opacity: 0;
      border: 1px solid white;
      color: #f1f1f1;
      left: -50%;
      &:hover {
        background: white;
        color: crimson;
      }
    }
    &:hover {
      transform: scale(1.02);
      .newsContent p {
        opacity: 1;
      }
      button {
        opacity: 1;
        left: 0;
      }
    }
  }
}
@media screen and(max-width: 960px) {
  .newsCard {
    .newsImage {
      justify-content: center;
    }
  }
}
@media screen and (max-width: 600px) {
  .newsCard {
    height: 300px;
  }
}
